{{ define "main" }}
<div class="container ">
    <section class="py-5 text-center container text-center ">
        <div class="row ">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">FAQ</h1>
                <p class="lead text-body-secondary">Questions commonly asked by community members.</p>
                <div class="">
                    <a href="/art/" class="btn btn-primary ">View Assets</a>
                    <a href="/" class="btn btn-secondary ">Go Home</a>
                </div>
            </div>
        </div>
    </section>

    <div class="row">
        <div class="col-md-6">
            <div class="accordion" id="accordion">
                <div class="accordion-item mb-3">
                    <h2 class="accordion-header" id="heading1">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                            <p class="h5 m-0">What is EZ Game Art? </p>
                        </button>
                    </h2>
                    <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="heading1" data-bs-parent="#accordion">
                        <div class="accordion-body">
                            <p>A free game asset library available for both personal and commercial projects. </p>
                        </div>
                    </div>
                </div>
    
                <div class="accordion-item mb-3">
                    <h2 class="accordion-header" id="heading2">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                            <p class="h5 m-0">Can I use the art in my game?</p>
                        </button>
                    </h2>
                    <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2" data-bs-parent="#accordion">
                        <div class="accordion-body">
                            <p>Absolutely! You can use the art for all types of projects. </p>
                        </div>
                    </div>
                </div>
    
                <div class="accordion-item mb-3">
                    <h2 class="accordion-header" id="heading3">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                            <p class="h5 m-0">How can I support EZ Game Art?</p>
                        </button>
                    </h2>
                    <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3" data-bs-parent="#accordion">
                        <div class="accordion-body">
                            <p>You can contribute by filling out our <a href="https://forms.gle/5QHvh4brQpjyiHgq5" target="_blank" rel="noopener noreferrer" class="link">volunteer form</a> and sharing your work as either a coder or artist. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="col-md-6">
            <div class="accordion" id="accordion">
                <div class="accordion-item mb-3">
                    <h2 class="accordion-header" id="heading4">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                            <p class="h5 m-0">How often are new assets released?</p>
                        </button>
                    </h2>
                    <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4" data-bs-parent="#accordion">
                        <div class="accordion-body">
                            <p>They are released every few weeks or whenever new art is contributed by the community.</p>
                        </div>
                    </div>
                </div>
    
                <div class="accordion-item mb-3">
                    <h2 class="accordion-header" id="heading5">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                            <p class="h5 m-0">Can I modify artwork?</p>
                        </button>
                    </h2>
                    <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5" data-bs-parent="#accordion">
                        <div class="accordion-body">
                            <p>Certainly! You have the freedom to modify all work under the Creative Commons license.</p>
                        </div>
                    </div>
                </div>
    
                <div class="accordion-item mb-3">
                    <h2 class="accordion-header" id="heading6">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                            <p class="h5 m-0">Do I need to give credit to the artist? </p>
                        </button>
                    </h2>
                    <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="heading6" data-bs-parent="#accordion">
                        <div class="accordion-body">
                            <p>No, but supporting or crediting artists is always appreciated. 😊</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    
    


</div>
{{end}}