{{ define "main" }}
<div id="privacy-policy-container container">

    <h2>Privacy Policy: EZ Game Art</h2>

    <p><em>Effective Date: January 14th, 2024</em></p>

    <p>Hello and welcome to EZ Game Art. Your privacy is important to us, and we want to be transparent
        about how we handle your information. Please take a moment to review our Privacy Policy, and if you have any
        questions, feel free to <a href="mailto:deja@heydeja.com">contact us</a>.</p>

    <h3>1. Information We Collect:</h3>

    <p><strong>1.1</strong> Personal Information:<br>
        We may collect your name, email address, and other contact details when you willingly share them with us
        through forms or other interactions on our website.</p>

    <p><strong>1.2</strong> Automated Information:<br>
        We gather non-personal information, like IP addresses and device details, to enhance your experience on our
        site.</p>

    <h3>2. How We Use Your Information:</h3>

    <p><strong>2.1</strong> Personal Information:<br>
        We use the information you provide to respond to your inquiries, improve our services, and tailor your
        experience on our website.</p>

    <p><strong>2.2</strong> Automated Information:<br>
        Non-personal information helps us analyze data, enhance our website, and better understand your
        preferences.</p>

    <h3>3. Information Sharing:</h3>

    <p><strong>3.1</strong> Third-Party Service Providers:<br>
        We may share your information with trusted third-party service providers to host our website or analyze
        data.</p>

    <p><strong>3.2</strong> Legal Requirements:<br>
        We may disclose your information if required by law or in response to a court order.</p>

    <h3>4. Security Measures:</h3>

    <p><strong>4.1</strong> Your Security Matters:<br>
        While we cannot provide an absolute guarantee of security – because, let's face it, nobody can – please know
        that safeguarding your information is a top priority for us.</p>

    <p><strong>4.2</strong> Constant Vigilance:<br>
        We take pride in implementing and regularly updating our security measures. Our team works tirelessly to
        protect your information from unauthorized access, disclosure, or alteration.</p>

    <p><strong>4.3</strong> Your Trust Matters Most:<br>
        We want you to feel confident and secure when interacting with our website. Your trust is invaluable to us,
        and we are committed to maintaining a safe and secure online environment.</p>

    <h3>5. Your Choices:</h3>

    <p><strong>5.1</strong> Opt-Out:<br>
        You can opt out of receiving promotional emails by following the instructions in those emails or contacting
        us directly.</p>

    <p><strong>5.2</strong> Cookies:<br>
        Manage your cookie preferences through your browser settings.</p>

    <h3>6. Changes to Privacy Policy:</h3>

    <p>We may update this Privacy Policy periodically. Any changes will be effective upon posting the revised policy
        on our website.</p>

    <h3>7. Contact Us:</h3>

    <p>If you have any questions or concerns regarding this Privacy Policy, please <a
            href="mailto:deja@heydeja.com">contact us</a>.</p>

    <p>Thank you for choosing EZ Game Art. By using our website, you agree to the terms outlined in
        this Privacy Policy.</p>

</div>
{{ end }}