<div class=" py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {{/* Start 1 */}}
            <div class="col">
                <div class="card shadow-sm">
                    <a href="/">
                        <img src="https://cdn.pixabay.com/photo/2022/06/25/18/55/pixel-art-7284052_960_720.png"
                            class="bd-placeholder-img card-img-top" alt="Image 8">
                    </a>
                    <div class="card-body">
                        <h3 class="card-title">Asset Name</h3>
                        <div class="d-flex justify-content-start align-items-center">
                            <a href="#" class="badgeA"><span class="badge text-bg-primary rounded-pill">Tag1</span></a>
                            <a href="#" class="badgeA"><span class="badge text-bg-primary rounded-pill">Tag2</span></a>
                            <a href="#" class="badgeA"><span class="badge text-bg-primary rounded-pill">Tag3</span></a>
                        </div>
                    </div>
                </div>
            </div>
            {{/* Start 2 */}}
            <div class="col">
                <div class="card shadow-sm">
                    <a href="/">
                        <img src="https://cdn.pixabay.com/photo/2022/06/25/18/55/pixel-art-7284052_960_720.png"
                            class="bd-placeholder-img card-img-top" alt="Image 8">
                    </a>
                    <div class="card-body">
                        <h3 class="card-title">Asset Name</h3>
                        <div class="d-flex justify-content-start align-items-center">
                            <a href="#" class="badgeA"><span class="badge text-bg-primary rounded-pill">Tag1</span></a>
                            <a href="#" class="badgeA"><span class="badge text-bg-primary rounded-pill">Tag2</span></a>
                            <a href="#" class="badgeA"><span class="badge text-bg-primary rounded-pill">Tag3</span></a>
                        </div>
                    </div>
                </div>
            </div>
            {{/* Start 3 */}}
            <div class="col">
                <div class="card shadow-sm">
                    <a href="/">
                        <img src="https://cdn.pixabay.com/photo/2022/06/25/18/55/pixel-art-7284052_960_720.png"
                            class="bd-placeholder-img card-img-top" alt="Image 8">
                    </a>
                    <div class="card-body">
                        <h3 class="card-title">Asset Name</h3>
                        <div class="d-flex justify-content-start align-items-center">
                            <a href="#" class="badgeA"><span class="badge text-bg-primary rounded-pill">Tag1</span></a>
                            <a href="#" class="badgeA"><span class="badge text-bg-primary rounded-pill">Tag2</span></a>
                            <a href="#" class="badgeA"><span class="badge text-bg-primary rounded-pill">Tag3</span></a>
                        </div>
                    </div>
                </div>
            </div>

            {{/* Start 4 */}}
            <div class="col">
                <div class="card shadow-sm">
                    <a href="/">
                        <img src="https://cdn.pixabay.com/photo/2022/06/25/18/55/pixel-art-7284052_960_720.png"
                            class="bd-placeholder-img card-img-top" alt="Image 8">
                    </a>
                    <div class="card-body">
                        <h3 class="card-title">Asset Name</h3>
                        <div class="d-flex justify-content-start align-items-center">
                            <a href="#" class="badgeA"><span class="badge text-bg-primary rounded-pill">Tag1</span></a>
                            <a href="#" class="badgeA"><span class="badge text-bg-primary rounded-pill">Tag2</span></a>
                            <a href="#" class="badgeA"><span class="badge text-bg-primary rounded-pill">Tag3</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>