<div id="cb-cookie-banner" class="alert alert-dark text-center mb-0 bottom-fixed" role="alert">
    🍪 This website uses cookies to ensure you get the best experience on our website.
    <a href="/policy" target="blank">Learn more</a>
    <button type="button" class="btn btn-primary btn-sm ms-3" onclick="window.cb_hideCookieBanner()">
        I Got It
    </button>
</div>

<style>
    #cb-cookie-banner {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 999;
        border-radius: 0;
        display: none;
    }
</style>

<script src="/js/cookie-banner.js"></script>