
  <footer class=" container py-3 my-4 mt-auto  ">

    <ul class="nav justify-content-center border-bottom pb-3 mb-3 flex-wrap">

      <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">Home</a></li>
      <li class="nav-item"><a href="/support/" class="nav-link px-2 text-body-secondary">Support</a></li>
      <li class="nav-item"><a href="/posts/" class="nav-link px-2 text-body-secondary">News</a></li>
      <li class="nav-item"><a href="/policy/" class="nav-link px-2 text-body-secondary">Policy</a></li>
      <li class="nav-item"><a href="/frequently-asked-questions/" class="nav-link px-2 text-body-secondary">FAQ</a></li>
      <li class="nav-item"><a href="/sitemap.xml" class="nav-link px-2 text-body-secondary">Sitemap</a></li>
    </ul>
    <p class="text-center text-body-secondary">&copy; 2024 EZ Game Art, Inc</p>
  </footer>

