<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <a href="/">
          <img src="https://cdn.pixabay.com/photo/2022/06/25/18/55/pixel-art-7284052_960_720.png" class="img-fluid" alt="Image 1">
        </a>
      </div>
      <div class="col">
        <a href="/">
          <img src="https://cdn.pixabay.com/photo/2022/06/25/18/55/pixel-art-7284052_960_720.png" class="img-fluid" alt="Image 2">
        </a>
      </div>
      <div class="col">
        <a href="/">
          <img src="https://cdn.pixabay.com/photo/2022/06/25/18/55/pixel-art-7284052_960_720.png" class="img-fluid" alt="Image 3">
        </a>
      </div>
      <div class="col">
        <a href="/">
          <img src="https://cdn.pixabay.com/photo/2022/06/25/18/55/pixel-art-7284052_960_720.png" class="img-fluid" alt="Image 4">
        </a>
      </div>
      <div class="col">
        <a href="/">
          <img src="https://cdn.pixabay.com/photo/2022/06/25/18/55/pixel-art-7284052_960_720.png" class="img-fluid" alt="Image 5">
        </a>
      </div>
      <div class="col">
        <a href="/">
          <img src="https://cdn.pixabay.com/photo/2022/06/25/18/55/pixel-art-7284052_960_720.png" class="img-fluid" alt="Image 6">
        </a>
      </div>
      <div class="col">
        <a href="/">
          <img src="https://cdn.pixabay.com/photo/2022/06/25/18/55/pixel-art-7284052_960_720.png" class="img-fluid" alt="Image 7">
        </a>
      </div>
      <div class="col">
        <a href="/">
          <img src="https://cdn.pixabay.com/photo/2022/06/25/18/55/pixel-art-7284052_960_720.png" class="img-fluid" alt="Image 8">
        </a>
      </div>
      <div class="col">
        <a href="/">
          <img src="https://cdn.pixabay.com/photo/2022/06/25/18/55/pixel-art-7284052_960_720.png" class="img-fluid" alt="Image 9">
        </a>
      </div>
    </div>
  </div>
  